<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Elo Data Tables</title>
    <link rel="stylesheet" href="https://cdn.datatables.net/v/dt/dt-2.0.8/datatables.min.css">
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/fixedcolumns/5.0.1/css/fixedColumns.dataTables.min.css">
    <style>
        .catalog-container {
            position: fixed;
            right: 0;
            top: 0px;
            width: 250px;
            height: 100%;
            overflow-y: auto;
            background-color: #f8f9fa;
            padding: 20px;
            border-left: 1px solid #ddd;
        }
        .content-container {
            margin-left: 270px;
            margin-right: 270px; /* Adjust based on the width of your sidebar */
        }
      .sticky-col {
            position: sticky;
            left: 0;
            background: #f4f4f4;
            z-index: 2; /* Ensures the sticky column stays above other columns */
        }
    </style>
</head>
<body>

    <div class="container-fluid">
        <h1 id="Ladies"> Ladies</h1>
       
        <h2 id="L_chrono"> Ladies</h2>
       <!--  <div style = "overflow-x:auto;">-->
        <table id="dataTableL_chrono" class="display">
            <thead>
                <!-- Headers will be dynamically populated -->
            </thead>
            <tbody>
                <!-- Data will be dynamically populated -->
            </tbody>
        </table>
        <!-- </div> -->


        <h2 id="L"> Overall Elo</h2>
        <div style = "overflow-x:auto;">
        <table id="dataTableL" class="display">
            <thead>
                <!-- Headers will be dynamically populated -->
            </thead>
            <tbody>
                <!-- Data will be dynamically populated -->
            </tbody>
        </table>
        </div>

        <h2 id="L_Distance">Distance Elo</h2>
        <div style = "overflow-x:auto;">
        <table id="dataTableL_Distance" class="display">
            <thead>
                <!-- Headers will be dynamically populated -->
            </thead>
            <tbody>
                <!-- Data will be dynamically populated -->
            </tbody>
        </table>
        </div>

        <h2 id="L_Distance_Classic">Distance Classic Elo</h2>
        <div style = "overflow-x:auto;">
        <table id="dataTableL_Distance_C" class="display">
            <thead>
                <!-- Headers will be dynamically populated -->
            </thead>
            <tbody>
                <!-- Data will be dynamically populated -->
            </tbody>
        </table>
    </div>

        <h2 id="L_Distance_Freestyle">Distance Freestyle Elo</h2>
        <div style = "overflow-x:auto;">
        <table id="dataTableL_Distance_F" class="display">
            <thead>
                <!-- Headers will be dynamically populated -->
            </thead>
            <tbody>
                <!-- Data will be dynamically populated -->
            </tbody>
        </table>
    </div>

        <h2 id="L_Sprint">Sprint Elo</h2>
        <div style = "overflow-x:auto;">
        <table id="dataTableL_Sprint" class="display">
            <thead>
                <!-- Headers will be dynamically populated -->
            </thead>
            <tbody>
                <!-- Data will be dynamically populated -->
            </tbody>
        </table>
    </div>

        <h2 id="L_Sprint_Classic">Sprint Classic Elo</h2>
        <div style = "overflow-x:auto;">
        <table id="dataTableL_Sprint_C" class="display">
            <thead>
                <!-- Headers will be dynamically populated -->
            </thead>
            <tbody>
                <!-- Data will be dynamically populated -->
            </tbody>
        </table>
    </div>

        <h2 id="L_Sprint_Freestyle">Sprint Freestyle Elo</h2>
        <div style = "overflow-x:auto;">
        <table id="dataTableL_Sprint_F" class="display">
            <thead>
                <!-- Headers will be dynamically populated -->
            </thead>
            <tbody>
                <!-- Data will be dynamically populated -->
            </tbody>
        </table>
    </div>

        <h2 id="L_Classic">Classic Elo</h2>
        <div style = "overflow-x:auto;">
        <table id="dataTableL_C" class="display">
            <thead>
                <!-- Headers will be dynamically populated -->
            </thead>
            <tbody>
                <!-- Data will be dynamically populated -->
            </tbody>
        </table>
    </div>

        <h2 id="L_Freestyle">Freestyle Elo</h2>
        <div style = "overflow-x:auto;">
        <table id="dataTableL_F" class="display">
            <thead>
                <!-- Headers will be dynamically populated -->
            </thead>
            <tbody>
                <!-- Data will be dynamically populated -->
            </tbody>
        </table>
    </div>


        <!-- Add more <h2> and <table> elements as needed for the Ladies section -->
    </div>

    <div class="container-fluid">
        <h1>Men</h1>

        <h2 id="M"> Overall Elo</h2>
        <div style = "overflow-x:auto;">
        <table id="dataTableM" class="display">
            <thead>
                <!-- Headers will be dynamically populated -->
            </thead>
            <tbody>
                <!-- Data will be dynamically populated -->
            </tbody>
        </table>
        </div>


        <h2 id="M_Distance">Distance Elo</h2>
        <div style = "overflow-x:auto;">
        <table id="dataTableM_Distance" class="display">
            <thead>
                <!-- Headers will be dynamically populated -->
            </thead>
            <tbody>
                <!-- Data will be dynamically populated -->
            </tbody>
        </table>
        </div>

        <h2 id="M_Distance_Classic">Distance Classic Elo</h2>
        <div style = "overflow-x:auto;">
        <table id="dataTableM_Distance_C" class="display">
            <thead>
                <!-- Headers will be dynamically populated -->
            </thead>
            <tbody>
                <!-- Data will be dynamically populated -->
            </tbody>
        </table>
        </div>

        <h2 id="M_Distance_Freestyle">Distance Freestyle Elo</h2>
        <div style = "overflow-x:auto;">
        <table id="dataTableM_Distance_F" class="display">
            <thead>
                <!-- Headers will be dynamically populated -->
            </thead>
            <tbody>
                <!-- Data will be dynamically populated -->
            </tbody>
        </table>
        </div>

        <h2 id="M_Sprint">Sprint Elo</h2>
        <div style = "overflow-x:auto;">
        <table id="dataTableM_Sprint" class="display">
            <thead>
                <!-- Headers will be dynamically populated -->
            </thead>
            <tbody>
                <!-- Data will be dynamically populated -->
            </tbody>
        </table>
        </div>

        <h2 id="M_Sprint_Classic">Sprint Classic Elo</h2>
        <div style = "overflow-x:auto;">
        <table id="dataTableM_Sprint_C" class="display">
            <thead>
                <!-- Headers will be dynamically populated -->
            </thead>
            <tbody>
                <!-- Data will be dynamically populated -->
            </tbody>
        </table>
        </div>

        <h2 id="M_Sprint_Freestyle">Sprint Freestyle Elo</h2>
        <div style = "overflow-x:auto;">
        <table id="dataTableM_Sprint_F" class="display">
            <thead>
                <!-- Headers will be dynamically populated -->
            </thead>
            <tbody>
                <!-- Data will be dynamically populated -->
            </tbody>
        </table>
        </div>

        <h2 id="M_Classic">Classic Elo</h2>
        <div style = "overflow-x:auto;">
        <table id="dataTableM_C" class="display">
            <thead>
                <!-- Headers will be dynamically populated -->
            </thead>
            <tbody>
                <!-- Data will be dynamically populated -->
            </tbody>
        </table>
        </div>

        <h2 id="M_Freestyle">Freestyle Elo</h2>
        <div style = "overflow-x:auto;">
        <table id="dataTableM_F" class="display">
            <thead>
                <!-- Headers will be dynamically populated -->
            </thead>
            <tbody>
                <!-- Data will be dynamically populated -->
            </tbody>
        </table>
        </div>

        <!-- Add more <h2> and <table> elements as needed for the Men section -->
    </div>

    <script type="text/javascript" src="https://code.jquery.com/jquery-3.7.1.min.js"></script>
    <script type="text/javascript" src="https://cdn.datatables.net/v/dt/dt-2.0.8/datatables.min.js"></script>
    <script type="text/javascript" src="https://cdn.datatables.net/fixedcolumns/5.0.1/js/dataTables.fixedColumns.min.js"></script>
    <script>
    $(document).ready(function() {
        // DataTable for Ladies Overall Elo

        $.getJSON('{{ "python/excel365/L_chrono_current.json" | relURL }}', function(data) {
            sex = "L"
            var columns = Object.keys(data[0]).map(function(key) {
                if (key === 'Skier') {
                    return {
                        data: key,
                        title: key.charAt(0).toUpperCase() + key.slice(1),
                        render: function(data, type, row) {
                            // Create a clickable link for the skier's name using the ID from the JSON data
                            return `<a href="/skiers/${sex}/${row.ID}" target="_blank">${data}</a>`;
                        }
                    };
                }                
                else{
                return { data: key, title: key.charAt(0).toUpperCase() + key.slice(1), visible: key!=='ID' };}
            });

            $('#dataTableL_chrono').DataTable({
                data: data,
                columns: columns,
                scrollX: true,
                scrollCollapse: true,
                fixedColumns: {leftColumns: 2}
    
            });
        }).fail(function() {
            console.error('Failed to load JSON data for Ladies Overall Elo');
        });
        $.getJSON('{{ "python/excel365/L_current.json" | relURL }}', function(data) {
            sex = "L"
            var columns = Object.keys(data[0]).map(function(key) {
                if (key === 'Skier') {
                    return {
                        data: key,
                        title: key.charAt(0).toUpperCase() + key.slice(1),
                        render: function(data, type, row) {
                            // Create a clickable link for the skier's name using the ID from the JSON data
                            return `<a href="https://daehl-e.com/${sex}/${row.ID}" target="_blank">${data}</a>`;
                        }
                    };
                }                
                else{
                return { data: key, title: key.charAt(0).toUpperCase() + key.slice(1), visible: key!=='ID' };}
            });

            $('#dataTableL').DataTable({
                data: data,
                columns: columns,
            });
        }).fail(function() {
            console.error('Failed to load JSON data for Ladies Overall Elo');
        });

        // DataTable for Ladies Distance Elo
        $.getJSON('{{ "python/excel365/L_Distance_current.json" | relURL }}', function(data) {
            var columns = Object.keys(data[0]).map(function(key) {
                return { data: key, title: key.charAt(0).toUpperCase() + key.slice(1), visible: key!=='ID' };
            });

            $('#dataTableL_Distance').DataTable({
                data: data,
                columns: columns
            });
        }).fail(function() {
            console.error('Failed to load JSON data for Ladies Distance Elo');
        });

        $.getJSON('{{ "python/excel365/L_Distance_C_current.json" | relURL }}', function(data) {
            var columns = Object.keys(data[0]).map(function(key) {
                return { data: key, title: key.charAt(0).toUpperCase() + key.slice(1), visible: key!=='ID' };
            });

            $('#dataTableL_Distance_C').DataTable({
                data: data,
                columns: columns
            });
        }).fail(function() {
            console.error('Failed to load JSON data for Ladies Distance Elo');
        });

        $.getJSON('{{ "python/excel365/L_Distance_F_current.json" | relURL }}', function(data) {
            var columns = Object.keys(data[0]).map(function(key) {
                return { data: key, title: key.charAt(0).toUpperCase() + key.slice(1), visible: key!=='ID' };
            });

            $('#dataTableL_Distance_F').DataTable({
                data: data,
                columns: columns
            });
        }).fail(function() {
            console.error('Failed to load JSON data for Ladies Distance Elo');
        });

        $.getJSON('{{ "python/excel365/L_Sprint_current.json" | relURL }}', function(data) {
            var columns = Object.keys(data[0]).map(function(key) {
                return { data: key, title: key.charAt(0).toUpperCase() + key.slice(1), visible: key!=='ID' };
            });

            $('#dataTableL_Sprint').DataTable({
                data: data,
                columns: columns
            });
        }).fail(function() {
            console.error('Failed to load JSON data for Ladies Sprint Elo');
        });

        $.getJSON('{{ "python/excel365/L_Sprint_C_current.json" | relURL }}', function(data) {
            var columns = Object.keys(data[0]).map(function(key) {
                return { data: key, title: key.charAt(0).toUpperCase() + key.slice(1), visible: key!=='ID' };
            });

            $('#dataTableL_Sprint_C').DataTable({
                data: data,
                columns: columns
            });
        }).fail(function() {
            console.error('Failed to load JSON data for Ladies Sprint Elo');
        });

        $.getJSON('{{ "python/excel365/L_Sprint_F_current.json" | relURL }}', function(data) {
            var columns = Object.keys(data[0]).map(function(key) {
                return { data: key, title: key.charAt(0).toUpperCase() + key.slice(1), visible: key!=='ID' };
            });

            $('#dataTableL_Sprint_F').DataTable({
                data: data,
                columns: columns
            });
        }).fail(function() {
            console.error('Failed to load JSON data for Ladies Sprint Elo');            
        });

                $.getJSON('{{ "python/excel365/L_C_current.json" | relURL }}', function(data) {
            var columns = Object.keys(data[0]).map(function(key) {
                return { data: key, title: key.charAt(0).toUpperCase() + key.slice(1), visible: key!=='ID' };
            });

            $('#dataTableL_C').DataTable({
                data: data,
                columns: columns
            });
        }).fail(function() {
            console.error('Failed to load JSON data for Ladies Sprint Elo');
        });

        $.getJSON('{{ "python/excel365/L_F_current.json" | relURL }}', function(data) {
            var columns = Object.keys(data[0]).map(function(key) {
                return { data: key, title: key.charAt(0).toUpperCase() + key.slice(1), visible: key!=='ID' };
            });

            $('#dataTableL_F').DataTable({
                data: data,
                columns: columns
            });
        }).fail(function() {
            console.error('Failed to load JSON data for Ladies Sprint Elo');
        });

        // DataTable for Men Overall Elo
        $.getJSON('{{ "python/excel365/M_current.json" | relURL }}', function(data) {
            var columns = Object.keys(data[0]).map(function(key) {
                return { data: key, title: key.charAt(0).toUpperCase() + key.slice(1), visible: key!=='ID' };
            });

            $('#dataTableM').DataTable({
                data: data,
                columns: columns
            });
        }).fail(function() {
            console.error('Failed to load JSON data for Men Overall Elo');
        });

        // DataTable for Men Distance Elo
        $.getJSON('{{ "python/excel365/M_Distance_current.json" | relURL }}', function(data) {
            var columns = Object.keys(data[0]).map(function(key) {
                return { data: key, title: key.charAt(0).toUpperCase() + key.slice(1), visible: key!=='ID' };
            });

            $('#dataTableM_Distance').DataTable({
                data: data,
                columns: columns
            });
        }).fail(function() {
            console.error('Failed to load JSON data for Men Distance Elo');
        });

        $.getJSON('{{ "python/excel365/M_Distance_C_current.json" | relURL }}', function(data) {
            var columns = Object.keys(data[0]).map(function(key) {
                return { data: key, title: key.charAt(0).toUpperCase() + key.slice(1), visible: key!=='ID' };
            });

            $('#dataTableM_Distance_C').DataTable({
                data: data,
                columns: columns
            });
        }).fail(function() {
            console.error('Failed to load JSON data for Men Distance Elo');
        });

        $.getJSON('{{ "python/excel365/M_Distance_F_current.json" | relURL }}', function(data) {
            var columns = Object.keys(data[0]).map(function(key) {
                return { data: key, title: key.charAt(0).toUpperCase() + key.slice(1), visible: key!=='ID' };
            });

            $('#dataTableM_Distance_F').DataTable({
                data: data,
                columns: columns
            });
        }).fail(function() {
            console.error('Failed to load JSON data for Men Distance Elo');
        });

        $.getJSON('{{ "python/excel365/M_Sprint_current.json" | relURL }}', function(data) {
            var columns = Object.keys(data[0]).map(function(key) {
                return { data: key, title: key.charAt(0).toUpperCase() + key.slice(1), visible: key!=='ID' };
            });

            $('#dataTableM_Sprint').DataTable({
                data: data,
                columns: columns
            });
        }).fail(function() {
            console.error('Failed to load JSON data for Men Sprint Elo');
        });

        $.getJSON('{{ "python/excel365/M_Sprint_C_current.json" | relURL }}', function(data) {
            var columns = Object.keys(data[0]).map(function(key) {
                return { data: key, title: key.charAt(0).toUpperCase() + key.slice(1), visible: key!=='ID' };
            });

            $('#dataTableM_Sprint_C').DataTable({
                data: data,
                columns: columns
            });
        }).fail(function() {
            console.error('Failed to load JSON data for Men Sprint Elo');
        });

        $.getJSON('{{ "python/excel365/M_Sprint_F_current.json" | relURL }}', function(data) {
            var columns = Object.keys(data[0]).map(function(key) {
                return { data: key, title: key.charAt(0).toUpperCase() + key.slice(1), visible: key!=='ID' };
            });

            $('#dataTableM_Sprint_F').DataTable({
                data: data,
                columns: columns
            });
        }).fail(function() {
            console.error('Failed to load JSON data for Men Sprint Elo');            
        });

                $.getJSON('{{ "python/excel365/M_C_current.json" | relURL }}', function(data) {
            var columns = Object.keys(data[0]).map(function(key) {
                return { data: key, title: key.charAt(0).toUpperCase() + key.slice(1), visible: key!=='ID' };
            });

            $('#dataTableM_C').DataTable({
                data: data,
                columns: columns
            });
        }).fail(function() {
            console.error('Failed to load JSON data for Men Sprint Elo');
        });

        $.getJSON('{{ "python/excel365/M_F_current.json" | relURL }}', function(data) {
            var columns = Object.keys(data[0]).map(function(key) {
                return { data: key, title: key.charAt(0).toUpperCase() + key.slice(1), visible: key!=='ID' };
            });

            $('#dataTableM_F').DataTable({
                data: data,
                columns: columns
            });
        }).fail(function() {
            console.error('Failed to load JSON data for Men Sprint Elo');
        });
        });

        // Add more DataTable initialization for other sections as needed

    </script>

</body>
</html>
