{{ define "header" }}
<header class="intro-header" style="background-image: url('{{ "img/feuz.avif" | relURL }}')">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                <div class="site-heading">
                    <h1>Alpine Athletes</h1>
                </div>
            </div>
        </div>
    </div>
</header>
{{ end }}
{{ define "main" }}
<article>
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                {{ partial "alpine/athletes-list.html" . }}
            </div>
        </div>
    </div>
</article>
{{ end }}